<section id="homepage-pages-three" class="parallax parallax-window no-fouc" data-parallax="scroll" data-image-src="{{ 'parallax-background-3.jpg' | asset_url }}">    
  <article class="row">
    <div class="pages-left-content desktop-12 tablet-6 mobile-3">
      {% if settings.pages-3-content == 'text' %}
      <div class="parallax-text">{% if settings.pages-3-link != blank %}<a href="{{ settings.pages-3-link }}">{{ settings.pages-3-text }}</a>{% else %}{{ settings.pages-3-text }}{% endif %}</div>
      {% elsif settings.pages-3-content == 'page-content' %}
      {{ pages[settings.pages-3].content }}     
      {% else %}
      {% endif %}
    </div>
  </article>
</section>
<div class="clear"></div>

