 


<div style='display:none'>
  <div id='subscribe_popup'>
        <h3>{{ 'layout.homepage.mailing_list_join' | t }}</h3>
        <p>{{ 'layout.homepage.mailing_list_text' | t }}</p>    <!-- BEGIN #subs-container -->
    <div id="subs-container" class="clearfix">
      <div id="mc_embed_signup">
        <form action="{{ settings.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"><input value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" required="" type="email"><input value="{{ 'general.newsletter_form.submit' | t }}" name="subscribe" id="mc-embedded-subscribe" class="button" type="submit"></form>
      </div>  
    </div>
  </div>
</div>






        