{% layout none %}
<!DOCTYPE html>
<html style="padding: 0">
  <head>
    <title>{{ shop.name }}</title>
  	{% include 'social-media-meta-tags' %}
    {{ 'stylesheet.css' | asset_url | stylesheet_tag }}
    {{ 'font-awesome.css' | asset_url | stylesheet_tag }}

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    {{ 'theme.js' | asset_url | script_tag }} 
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}  
    {{ 'jquery.fs.selecter.min.js' | asset_url | script_tag }}  


    {% include 'google-fonts' %}
  	<meta name="viewport" content="width=device-width, initial-scale=1">

    {{ content_for_header }}

  </head>
  <body class="gridlock {{ template }}">

    <div class="slideout">
      <div class="closeslide slideout-toggle">
        <i class="icon-angle-right"></i><i class="icon-angle-left"></i> 
      </div>
        <div>
        {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <label for="password">{{ 'password.general.enter_store' | t }}</label>
        <input type="password" name="password" placeholder="{{ 'password.general.password' | t }}">
        <input type="submit" value="{{ 'password.general.enter' | t }}">
        {% endform %}
      </div>
    </div>    


    <div class="slideout-toggle open_password">
      <i class="icon-lock"></i> {{ 'password.general.enter_store' | t }}
    </div>

    <div class="password-page">
      <div class="row">
        <div id="logo" class="desktop-8 desktop-push-2 tablet-6 mobile-3">       
          {% if settings.use_logo_image %}
          <a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" style="border: 0;"/></a>
          {% else %}
          <h1><a href="/">{{ shop.name }}</a></h1>
          {% endif %}           
        </div> 
      </div>


      <div id="signup-holder" class="row">
        <div id="signup-wrap" class="desktop-6 desktop-push-3 tablet-4 tablet-push-1 mobile-3">
          {% unless shop.password_message == blank %}
          <div id="password-message">
            {{ shop.password_message }}
          </div>
          {% endunless %}           
          <div id="password-signup">
            {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
            <p class="success">{{ 'password.general.thanks' | t }}</p>
            {% else %}

            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <input type="email" name="contact[email]" id="password-email" placeholder="{{ 'password.general.email_address' | t }}">
            <input type="submit" id="password-subscribe" value="{{ 'password.general.submit' | t }}">
            {% endif %}
            {% endform %}  
          </div>
        </div>
        
        <div class="clear"></div>
        
        <ul id="password-icons" class="desktop-6 desktop-push-3 tablet-6 mobile-3">
          {% if settings.show_facebook %}<li><a href="{{ settings.facebook_url }}" target="_blank"><i class="icon-facebook icon-2x"></i></a></li>{% endif %}
          {% if settings.show_twitter %}<li><a href="{{ settings.twittername }}" target="_blank"><i class="icon-twitter icon-2x"></i></a></li>{% endif %}
          {% if settings.show_pinterest %}<li><a href="{{ settings.pinterest_url }}" target="_blank"><i class="icon-pinterest icon-2x"></i></a></li>{% endif %}
          {% if settings.show_tumblr %}<li><a href="{{ settings.tumblr_url }}" target="_blank"><i class="icon-tumblr icon-2x"></i></a></li>{% endif %}
          {% if settings.show_youtube %}<li><a href="{{ settings.youtube_url }}" target="_blank"><i class="icon-youtube icon-2x"></i></a></li>{% endif %}
          {% if settings.show_googleplus %}<li><a href="{{ settings.googleplus_url }}" target="_blank"><i class="icon-google-plus icon-2x"></i></a></li>{% endif %}
          {% if settings.show_instagram %}<li><a href="//instagram.com/{{ settings.instagram-id }}" target="_blank"><i class="icon-instagram icon-2x"></i></a></li>{% endif %}
          {% if settings.show_rss %}<li><a href="{{ shop.url }}/blogs/news.atom" target="_blank"><i class="icon-rss icon-2x"></i></a></li>{% endif %}
        </ul>  
        
        
      </div>
    </div>  
    
    <div class="pass-foot">{{ 'password.general.powered' | t }} <a href="//www.shopify.com/?ref=undergroundmedia">shopify</a></div>

    <script>
      $('.slideout-toggle').on('click', function(event)
                               {
        event.preventDefault();
        var slideout = $('.slideout');
        var slideoutWidth = $('.slideout').width();   	

        slideout.toggleClass('open');

        if (slideout.hasClass('open'))
        {
          slideout.animate({right: '0'}, 250);	
        }
        else
        {
          slideout.animate({right: -slideoutWidth}, 250);	
        }     
      });

    
      
      if ( $('.storefront-password-form .errors').size() ) {

        var $errortoggle = $('.slideout');
        $($errortoggle).addClass('open');  

        $('.slideout-toggle').trigger('click');
      }
      
    </script>

  </body>
</html>
